<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <nb-user [name]="user?.username ? user.username : 'New User'"></nb-user>
          <button nbButton (click)="newGame()">Start new game</button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-xl-4 col-sm-12 pt-1">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header class="justify-content-center">Open games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-list>
                    <nb-list-item class="p-1" *ngFor="let game of openGames" [routerLink]="'game/' + game.id">
                      <div class="align-items-center d-flex justify-content-between pb-3">
                        <div>
                          <span class="pr-1">{{game.playerX?.username}}</span>
                          <nb-icon icon="close-outline"></nb-icon>
                        </div>
                        <span *ngIf="game.playerX?.id !== user.id" class="p-1 badge badge-info">Join game</span>
                      </div>
                    </nb-list-item>
                  </nb-list>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
          <div class="col-xl-4 col-sm-12 pt-1">
            <app-game-accordion title="Active games" [games]="activeGames" [currentUser]="user"></app-game-accordion>
          </div>
          <div class="col-xl-4 col-sm-12 pt-1">
            <app-game-accordion title="Finished games" [games]="finishedGames" [currentUser]="user"></app-game-accordion>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
