<div class="row">
  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-8 col-sm-10">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <nb-user [name]="user?.username ? user.username : 'New User'"></nb-user>
          <button nbButton (click)="newGame()">Start new game</button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Open games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  Item Content
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
          <div class="col-md-4 col-sm-12">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Active games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  Item Content
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>

          <div class="col-md-4 col-sm-12">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Finished games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  Item Content
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-2 col-sm-10"></div>
</div>
