<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between">
          <nb-user [name]="user?.username ? user.username : 'New User'"></nb-user>
          <button nbButton (click)="newGame()">Start new game</button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-xl-4 col-sm-12 pt-1">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header class="justify-content-center">Open games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-list>
                    <nb-list-item class="p-1" *ngFor="let game of openGames" [routerLink]="'game/' + game.id">
                      <nb-user [name]="game.playerX?.username"></nb-user>
                      <nb-icon icon="close-outline"></nb-icon>
                    </nb-list-item>
                  </nb-list>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
          <div class="col-xl-4 col-sm-12 pt-1">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header class="justify-content-center">Active games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-list>
                    <nb-list-item class="p-1" *ngFor="let game of activeGames" [routerLink]="'game/' + game.id">
                      <app-game-section [game]="game" [currentUser]="user"></app-game-section>
                    </nb-list-item>
                  </nb-list>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>

          <div class="col-xl-4 col-sm-12 pt-1">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header class="justify-content-center">Finished games</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-list>
                    <nb-list-item class="p-2" *ngFor="let game of finishedGames" [routerLink]="'game/' + game.id">
                      <app-game-section [game]="game" [currentUser]="user"></app-game-section>
                    </nb-list-item>
                  </nb-list>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
