<nb-card>
  <nb-card-header>Enter new username</nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <label for="inputUserName"></label>
      <input nbInput fullWidth type="text" id="inputUserName" placeholder="Username" [(ngModel)]="username">
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button tabIndex="-1" class="mr-3" nbButton ghost size="small" (click)="cancel()">CANCEL</button>
    <button tabIndex="0" nbButton status="danger" size="small" (click)="confirm()">CONFIRM</button>
  </nb-card-footer>
</nb-card>
