@import '../../../../themes';

@include nb-install-component() {
  nb-list-item {
    display: block;
    cursor: pointer;
    border-bottom: 0.0625rem solid dimgrey;
    &:first-child {
      border-top: none;
    }
  }

  nb-accordion-item-body {
    background: #edf1f7 !important;
  }

  nb-accordion-item-header {
    background: #edf1f7 !important;
    border-bottom: 1px solid black;
  }
}
