<div class="row">
  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-8 col-sm-10">
    <nb-card>
      <nb-card-header>
        <button nbButton routerLink="">Leave Game</button>
      </nb-card-header>
      <nb-card-body>
        <div class="d-flex justify-content-center">
          <h5 *ngIf="win">Player {{winner}} has won the game</h5>
          <h5 *ngIf="!win && !gameFinished">Turn: {{userOnMove}}</h5>
          <h5 *ngIf="gameFinished && !win">Game draw</h5>
        </div>
        <div class="d-flex justify-content-center">
          <div class="game-board-container">
            <div class="game-board">
              <div *ngFor="let row of gameBoard">
                <button *ngFor="let col of gameBoard" class="btn btn-light sqaure"
                        (click)="SetCellValue(row,col)">{{game.cellValue[row][col]}}</button>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-between">
          <nb-user [name]="currentPlayer.username"></nb-user>
          <nb-user *ngIf="game" [name]="opponentUsername"></nb-user>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-2 col-sm-10"></div>
</div>
