<div class="row">
  <div class="col-md-2 col-sm-1"></div>
  <div class="col-md-8 col-sm-10">
    <nb-card>
      <nb-card-header>
        <button nbButton>Leave Game</button>
      </nb-card-header>
      <nb-card-body>
        <div class="d-flex justify-content-center">
          Igralna plošča
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-between">
          <nb-user name="User 1"></nb-user>
          <nb-user name="User 2"></nb-user>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-2 col-sm-10"></div>
</div>
